* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav {
  height: inherit;
}

#navbar {
  box-shadow: inset 0px -2px 2px gray;
}

#aside {
  background: rgb(5, 27, 52);
}

.aside-link {
  border: transparent;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: 100%;
}

.div-aside-link {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.show {
  display: flex !important;
  margin-left: 5px;
}

.div-aside-link:hover {
  background: rgb(26, 26, 40);
}

.aside-logo {
  height: 50px;
  width: 100%;
}

.aside-logo a,.img-logo {
  width: inherit;
  height: inherit;
  background-image: black;
}

.table-bordered {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

table{
  border-collapse:collapse !important;
  border-radius: 1em !important; 
  overflow: hidden;
}

